
#container{
    display: grid;
    grid-template-columns: 1fr 3rem 1fr 1fr 1fr;
    grid-template-rows: 1fr 2rem 1fr;
}
.item1{
    background: blue;
    grid-column: 1 / 4;
}
.item2{
    background: green;
    grid-column: 4 / 5;
}
.item3{
    background: red;
    grid-column: 5 / 6;
}
.item4{
    background: green;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.item5{
    background: blue;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.item6{
    background: gray;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}
.sidewalk{
    grid-column: 2 / 3;
}
.sidewalk2{
    grid-column: 4 / 5;
}
span{
    color: red;
}