
#container{
    display: grid;
    grid-template-columns: 1fr 3rem 1fr 1fr 1fr;
    grid-template-rows: 1fr 2rem 1fr;
}
main{
    background-image: url(./Images/Vector\ Wooden\ Floor\ Decorative\ Background\ Wallpaper\ Image\ For\ Free\ Download\ -\ Pngtree.jpg);
    background-size: cover;      /* makes the image FIT the box */
    background-position: center; /* centers the image */
    background-repeat: no-repeat;
}
.item1{
    grid-column: 1 / 4;
    border: 2px solid;
}
.item2{
    grid-column: 4 / 5;
    border: 2px solid;
}
.item3{
    grid-column: 5 / 6;
    border: 2px solid;
}
.item4{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border: 2px solid;
}
.item5{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border: 2px solid;
}
.item6{
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    border: 2px solid;
}
.sidewalk{
    grid-column: 2 / 3;
    border: 2px solid;
}
.sidewalk2{
    grid-column: 4 / 5;
}